# MongoDB
MONGODB_URI=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# MercadoPago
MP_ACCESS_TOKEN=
NEXT_PUBLIC_MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend
RESEND_API_KEY=
FROM_EMAIL=Tallerea <noreply@tallerea.cl>
